.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter";
}

.login_form {
  display: flex;
  flex-direction: column;
}

.login_form > h1 {
  font-size: 35px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
  justify-content: center;
  display: flex;
}

.login_form > input {
  min-width: 380px;
  padding: 20px 0;
  margin-bottom: 10px;
  padding-left: 15px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.24);
  font-family: "Inter";
  border-radius: 2px;
  font-size: 15px;
}

.submit_btn{
    min-width: 300px;
    padding: 17px 30px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 3px;
    font-family: "Inter";
}